.navbar-wrap{
	margin-bottom: 0;
}
.public-wrap .avatar-wrap .avatar{
	width: 60px;
	height: 60px;
	border: 1px solid #efefef;
}
.public-wrap .body-wrap{
	width: 100%;
}
.index-wrap .banner {
	color: #FFF;
	background-color: #81C26C;
}
.navbar-wrap .navbar-brand{
	height: 60px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.navbar-wrap .navbar-nav > li > a{
	padding-top: 30px;
	padding-bottom: 30px;	
}
.navbar-wrap.navbar-wrap .navbar-nav > li > a.nav-avatar-info{
	padding-top: 15px;
	padding-bottom: 15px;
}
.navbar-wrap .dropdown-menu {
	background-color: #f8f8f8;
	min-width: 80px;
	border-top: 0;
}
.navbar-wrap .dropdown-menu > li > a{
	padding-top: 8px;
	padding-bottom: 8px;
}
.navbar-wrap .dropdown-menu > li > a:hover,
.navbar-wrap.dropdown-menu > li > a:focus{
	color: #5cb85c;
	background-color: #f8f8f8;
}
.navbar-wrap.navbar-default .navbar-nav > .open > a,
.navbar-wrap.navbar-default .navbar-nav > .open > a:hover,
.navbar-wrap.navbar-default .navbar-nav > .open > a:focus,
.navbar-wrap.navbar-default .navbar-nav > .active > a,
.navbar-wrap.navbar-default .navbar-nav > .active > a:hover,
.navbar-wrap.navbar-default .navbar-nav > .active > a:focus{
	background-color: #f8f8f8;
	color: #5cb85c;
}
.list-wrap .media-heading{
	margin-top: 10px;
}
.list-wrap .media-heading a{
	color: #333;
}
.list-wrap .media-heading a:hover{
	color: #5cb85c;
}
.list-wrap .author{
	color: #666;
}
.list-wrap .media-reply-info{
	float: right;
	margin-top: -52px;
}
.list-wrap .media-body{
	vertical-align: middle;
}
.list-wrap .media-reply-info .reply-item {
	display: block;
}
.list-wrap .media-reply-info .reply-num{
	color: #333;
	font-size: 14px;
	margin-left: 3px;
}
.list-wrap .media-reply-info .reply-info{
	color: #999;
	font-size: 12px;

}